body {
  font-family: Consolas;
}

.table-responsive {
  overflow-x: auto;
}

.table-responsive > table {
  border-collapse: collapse;
  border: 1px solid lightgray;
}

.table-responsive table th {
  position: sticky;
  top: 0;
  z-index: 1;
  background: lightgray;
}

.table-responsive table th,
.table-responsive table tbody td {
  text-align: center;
}

.table-points {
  max-width: 200px;
  max-height: 200px;
}
