body {
  font-family: Consolas;
}

.table-responsive {
  overflow-x: auto;
  max-height: 200px;
}

.table-responsive > table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid lightgray;
}

.table-responsive table th {
  position: sticky;
  top: 0;
  z-index: 1;
  background: lightgray;
}
